.illustGrid {
  display: grid;
  max-width: 80%;
  width: 1030px;
  margin: 3em auto;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.illustGrid img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
