.page {
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.subsec {
  min-width: 1200px;
}

.subsecTitle {
  width: 400px;
  margin: 3em auto;
  float: left;
}

.subsecText {
  width: 13em;
  float: left;
}

.subsecText p {
  margin: 0;
  text-align: right;
}

.yukarin {
  font-size: 3em;
}

.imageProfile {
  width: 5em;
  height: auto;
  border-radius: 50%;
  border-style: dotted;
  border-color: #663333;
  margin: 0 2em;
  float: left;
}
/* 
.subsecDesc {
  width:600px;
  height: auto;
  float: left;
  margin: 3em;
} */
